.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.formContainer {
  display: flex;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 950px;
  position: relative; /* Buni qo'shish kerak */
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imageContainer img {
  border-radius: 8px;
  height: 650px;
  width: 600px;
}

.avatarContainer {
  position: absolute;
  top: 25px; 
  left: 640px; 
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.avatarPreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nice {
  padding: 20px;
  margin-left: 25px;
}

.form {
  flex: 1;
  margin-left: 22px;
}

.form h3 {
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}

.inputGroup {
  margin-bottom: 30px;
}

.inputGroup label {
  display: block;
  font-size: 14px;
  margin-bottom: 0.5rem;
  color: black;
}

.inputGroup input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fcf8f8;
  box-sizing: border-box;
}

.inputGroup .urlInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

.rememberMeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rememberMeContainer input {
  margin-right: 15px;
}

.rememberMeContainer a {
  color: red;
  text-decoration: none;
  font-size: 14px;
}

.rememberMeContainer a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 40px;
}

button:hover {
  background-color: #0056b3;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0056b3;
}

.socialLogin {
  margin-top: 20px;
  text-align: center;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}

.googleButton:hover {
  background-color: grey;
}

.googleButton img {
  margin-right: 10px;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.footer p {
  margin: 0;
  color: #555;
}

.footer a {
  color: #007bff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 0.25rem;
}
